*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    font-size: 62.5%; /* Makw font-size 10px; 1rem=10px */
    font-family: "Segoe UI", "Tahoma", "Geneva", "Verdana", "sans-serif";
    letter-spacing: 50;
}

img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

header {
    background-color: white;
    position:relative;
    padding: 1rem;
}

.header-image {
    height: 3rem;
    box-sizing: unset;
    padding-right: 4px;
}

h1 {
    text-align: center;
    font-weight: 600;
    letter-spacing: 5px;
    font-size: 2.5rem;
    padding-left: 10rem;
}

.home-selection {
width: 1080px; height: 50em;
background-image: url(./dev2/assets/UX-HTML-CSS/clay\ hands.jpg
background-size: cover;
background-position: center;
position: relative;
}